<!--<div class="container-card" [ngClass]="{'selected':selected}">
  <p>TITULO:{{data.nombre}}</p>
  <ng-content></ng-content>
  <p>Description: {{data.description}}</p>
</div>

-->
<!--<div>
  <h1>un error ha ocurrido</h1>
  {{data.nombre}}
  <ng-content select="[body]"></ng-content>

</div>-->

<!--<div style="border: 1px solid red ;">
  <div style="padding-bottom:10px ; border-bottom: 1px solid rgb(139, 139, 139);">
    <ng-content select="[header]"></ng-content>
  </div>
  <div style="padding: 20px 0px;">
    <ng-content select="[body]"></ng-content>
  </div>
  <hr>
  <div style="background: red; color: white;">
    <ng-content select="[footer]"></ng-content>
  </div>


</div>-->
<ng-content ></ng-content>

<ng-content>


</ng-content>
