.solid{
  background-color: #212529;
  width: 70vw;
  height: 50vh;
}
.in{
  border-bottom: solid 3px black;

}

.in2{
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-size: 21px;
  padding-right: 15px;
  margin: 0px;

}
